body{
background-image: url(assets/bg.jpg);  

}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(192, 57, 43,1.0);
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgba(44, 62, 80,1.0);
    border-bottom: 2px solid black
    
}
p{  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslateblue;
}
ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkviolet;
}
#main {
    width: 640px;
    margin: 0 auto;
}
.imagen2{
    float: right; clear: both;
    width: 10%;
}
.imagen{
    float: right;clear: both;
    width: 10%;
}
