div {
    border: 6px solid red;
    background-color: lightyellow;
}

h1 {
    padding: 10px;
    border: 4px solid darkblue;
    margin: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    background-color: lightblue;
}
h2 {
    padding: 10px;
    border: 4px solid darkgreen;
    margin: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    background: lightgreen;
}
h3 {
    padding: 10px;
    border: 4px solid darkblue;
    margin: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    background-color: lightblue;
}